<table *ngIf="(tableService.elves_status| async) != null && (tableService.elves_status | async)!.length != 0"
	class="rect-table p-5" id="action-table" aria-describedby="requestResults">
	<thead>
		<tr class="text-xs tablet:text-base">
			<th>id</th>
			<th>idElf</th>
			<th>time</th>
			<th>rest</th>
		</tr>
	</thead>
	<tbody class="text-xs tablet:text-base">
		<tr *ngFor="let resp of tableService.elves_status | async">
			<td>
				{{ resp.id }}
			</td>
			<td>
				{{ resp.idElf }}
			</td>
			<td>
				{{ resp.time }}
			</td>
			<td>
				{{ resp.rest }}
			</td>
		</tr>
	</tbody>
</table>
