<div class="flex" >
    <p-tabMenu [model]="tables"></p-tabMenu>
</div>
<app-elf-table [hidden]= elf_hidden></app-elf-table>
<app-elf-prod-table [hidden] = elf_production_hidden></app-elf-prod-table>
<app-elf-status-table [hidden] = elf_status_hidden></app-elf-status-table>
<app-gift-table [hidden] = gift_hidden></app-gift-table>
<app-gift-status-table [hidden] = gift_status_hidden></app-gift-status-table>
<app-production-table [hidden] = production_hidden></app-production-table>
<app-storage-table [hidden]=storage_hidden></app-storage-table>
<app-delivery-table [hidden] = delivery_hidden></app-delivery-table>
