<div class="rect-bg rounded-xl py-10 px-16">
	<form class="pt-8 flex w-full flex-col space-y-8 min-w-[18rem]" [formGroup]="loginForm">
		<div class="p-float-label">
			<input class="w-full" maxlength="30" type="text" formControlName="login" id="login" pInputText />
			<label for="login">Логин</label>
		</div>

		<div>
			<div class="p-float-label">
				<p-password class="w-full" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
							type="password" formControlName="password" id="password" [toggleMask]="true"
					[feedback]="false"></p-password>
				<label for="password">Пароль</label>
			</div>
		</div>

		<div class="flex justify-between">
			<button [disabled]="!loginForm.valid"
				class="form-btn py-4 px-6 rounded-lg" type="submit"
				(click)="sendRegisterRequest()">Регистрация</button>
			<button [disabled]="!loginForm.valid"
				class="form-btn py-4 px-6 rounded-lg" type="submit"
				(click)="sendLoginRequest()">Войти</button>
		</div>

	</form>
</div>
