<div class="flex" >
    <p-tabMenu [model]="tables"></p-tabMenu>
</div>

<app-letter-table [hidden] = letter_hidden></app-letter-table>
<app-child-table [hidden] = child_hidden></app-child-table>
<app-delivery-table [hidden] = delivery_hidden></app-delivery-table>
<app-elf-table [hidden]= elf_hidden></app-elf-table>
<app-elf-prod-table [hidden] = elf_production_hidden></app-elf-prod-table>
<app-elf-status-table [hidden] = elf_status_hidden></app-elf-status-table>
<app-gift-table [hidden] = gift_hidden></app-gift-table>
<app-gift-status-table [hidden] = gift_status_hidden></app-gift-status-table>
<app-production-table [hidden] = production_hidden></app-production-table>
<app-storage-table [hidden]=storage_hidden></app-storage-table>
<app-action-table [hidden]="action_hidden"></app-action-table>
<app-address-table [hidden]="address_hidden"></app-address-table>

